<!-- wp:template-part {"slug":"header","theme":"allele","tagName":"header","className":"site-header is-allele-no-spacing","layout":{"inherit":true}} /-->

<!-- wp:group {"tagName":"main","className":"site-content is-allele-no-spacing","layout":{"inherit":true}} -->
<main id="primary" class="wp-block-group site-content is-allele-no-spacing">
  <!-- wp:pattern {"slug":"allele/featured-post"} /-->

  <!-- wp:spacer {"height":14} -->
  <div style="height:14px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->

  <!-- wp:heading {"align":"wide"} -->
  <h2 class="alignwide" id="news">News</h2>
  <!-- /wp:heading -->

  <!-- wp:spacer {"height":14} -->
  <div style="height:14px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->

  <!-- wp:pattern {"slug":"allele/hidden-query"} /-->

  <!-- wp:spacer {"height":40} -->
  <div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"allele","tagName":"footer","className":"site-footer is-allele-no-spacing","layout":{"inherit":true}} /-->
