<!-- wp:template-part {"slug":"header","theme":"allele","tagName":"header","className":"site-header is-allele-no-spacing","layout":{"inherit":true}} /-->

<!-- wp:group {"tagName":"main","className":"site-content is-allele-no-spacing","layout":{"inherit":true}} -->
<main id="primary" class="wp-block-group site-content is-allele-no-spacing">
  <!-- wp:group {"align":"wide","backgroundColor":"tl-background-alt"} -->
  <div class="wp-block-group alignwide has-tl-background-alt-background-color has-background">
    <!-- wp:spacer {"height":1,"className":"is-tiny-spacing"} -->
    <div style="height:1px" aria-hidden="true" class="wp-block-spacer is-tiny-spacing"></div>
    <!-- /wp:spacer -->

    <!-- wp:search {"label":"Search","showLabel":false,"width":50,"widthUnit":"%","buttonText":"Search","buttonUseIcon":true,"align":"center","backgroundColor":"primary","textColor":"td-text","className":"is-allele-no-spacing"} /-->

    <!-- wp:spacer {"height":1,"className":"is-tiny-spacing"} -->
    <div style="height:1px" aria-hidden="true" class="wp-block-spacer is-tiny-spacing"></div>
    <!-- /wp:spacer -->
  </div>
  <!-- /wp:group -->

  <!-- wp:pattern {"slug":"allele/hidden-query"} /-->

  <!-- wp:spacer {"height":40} -->
  <div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"allele","tagName":"footer","className":"site-footer is-allele-no-spacing","layout":{"inherit":true}} /-->
