<!-- wp:template-part {"slug":"header","theme":"allele","tagName":"header","className":"site-header is-allele-no-spacing","layout":{"inherit":true}} /-->

<!-- wp:group {"tagName":"main","className":"site-content is-allele-no-spacing single","layout":{"inherit":false}} -->
<main id="primary" class="wp-block-group site-content is-allele-no-spacing single">
  <!-- wp:group {"layout":{"inherit":true}} -->
  <div class="wp-block-group">
    <!-- wp:spacer {"height":1} -->
    <div style="height:1px" aria-hidden="true" class="wp-block-spacer is-tiny-spacing"></div>
    <!-- /wp:spacer -->

    <!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"right":"8%","left":"8%"}}},"layout":{"inherit":true}} -->
    <div class="wp-block-group alignwide" style="padding-right:8%;padding-left:8%">
      <!-- wp:post-title {"textAlign":"center","level":1,"align":"wide"} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"align":"wide"} -->
    <div class="wp-block-group alignwide">
      <!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex","allowOrientation":false,"justifyContent":"center"}} -->
      <div class="wp-block-group">
        <!-- wp:post-date {"textColor":"tl-meta","fontSize":"small"} /-->

        <!-- wp:post-author {"showAvatar":false,"showBio":false,"textColor":"tl-meta","fontSize":"small"} /-->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->

    <!-- wp:spacer {"height":1} -->
    <div style="height:1px" aria-hidden="true" class="wp-block-spacer is-tiny-spacing"></div>
    <!-- /wp:spacer -->

    <!-- wp:group {"align":"wide","layout":{"inherit":false}} -->
    <div class="wp-block-group alignwide">
      <!-- wp:post-featured-image /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:spacer {"height":1} -->
    <div style="height:1px" aria-hidden="true" class="wp-block-spacer is-tiny-spacing"></div>
    <!-- /wp:spacer -->
  </div>
  <!-- /wp:group -->

  <!-- wp:post-content {"layout":{"inherit":true}} /-->

  <!-- wp:group {"layout":{"inherit":true}} -->
  <div class="wp-block-group">
    <!-- wp:group -->
    <div class="wp-block-group">
      <!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex","allowOrientation":false,"justifyContent":"left"}} -->
      <div class="wp-block-group">
        <!-- wp:post-terms {"term":"category"} /-->

        <!-- wp:post-terms {"term":"post_tag"} /-->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group -->
    <div class="wp-block-group">
      <!-- wp:post-comments /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:spacer {"height":40} -->
    <div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"allele","tagName":"footer","className":"site-footer is-allele-no-spacing","layout":{"inherit":true}} /-->

